<launch>
    <include file="$(find stingray_sim)/launch/wall_following.launch">
        <arg name="world_file" value="$(find stingray_sim)/worlds/largemaze.world"/>
        <arg name="x" default="-3.5" />
        <arg name="y" default="-3.5" />
        <arg name="z" default="0.0" />
    </include>

    <node name="wall_follower" pkg="wall_follower" type="wall_follower.py" output="screen">
    </node>

</launch>
